In [6]:
from cuqi.distribution import DistributionGallery, Gaussian, JointDistribution
from cuqi.testproblem import Poisson1D
from cuqi.problem import BayesianProblem
import cuqi
import inspect
import numpy as np
import matplotlib.pyplot as plt
from cuqi.sampler import MH, CWMH, ULA, MALA, NUTS
import time
import scipy.stats as sps
from scipy.stats import gaussian_kde
import pandas as pd
import TableAutomization as TA

In [12]:
# The banana distribution 
target_banana = DistributionGallery("banana")

TA.create_table(target_banana, 0.005, 100, 2, x0 = np.array([0,0]), seed = 12)

Sample 102 / 102

Average acceptance rate: 0.99

Sample 102 / 102

Average acceptance rate: 0.95 MCMC scale: 0.1886311426808492

Sample 102 / 102
Sample 102 / 102
Sample 102 / 102

,Sampling Method,No. of Samples,No. of Burn-ins,Scaling Factor,ESS (v0),ESS (v1)
0,MH_fixed,100,2,0.005,2.143,2.580
1,MH_adapted,100,2,0.005,1.966,1.432
2,ULA,100,2,0.005,1.540,7.924
3,MALA,100,2,0.005,2.594,1.397
4,NUTS,100,2,0.005,100.000,100.000